* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 20px auto;
  /* min-width: 300px;
  max-width: 1000px; */
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-fieldsets-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-fieldsets-wrapper > fieldset {
  flex-basis: calc((100% - 2 * 10px) / 3);
  padding: 20px;
}

fieldset > legend {
  font-size: 24px;
  font-weight: bold;
}

.input-wrapper {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
